@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');



button {
  font-family: Jost;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #9B7291;
  border: none;

  height: 40px;
  padding: 0 20px;
  border-radius: 20px;

  font-size: 0.95rem;
  cursor: pointer;

  transition: background-color 0.3s ease-in-out;
}




@media (min-width: 361px) and (max-width: 414px) {
  button {
    height: 42px;
    padding: 0 22px;
    font-size: 1rem;
  }
}


@media (min-width: 415px) and (max-width: 1023px) {
  button {
    height: 46px;
    padding: 0 26px;
    font-size: 1.05rem;
    border-radius: 24px;
  }
}


@media (min-width: 1024px) and (max-width: 1439px) {
  button {
    height: 48px;
    padding: 0 30px;
    font-size: 1.1rem;
    border-radius: 26px;
  }
}


@media (min-width: 1440px) and (max-width: 1919px) {
  button {
    height: 52px;
    padding: 0 34px;
    font-size: 1.15rem;
    border-radius: 28px;
  }
}


@media (min-width: 1920px) {
  button {
    height: 56px;
    padding: 0 38px;
    font-size: 1.2rem;
    border-radius: 30px;
  }
}
