@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* ---------- BASE (360px) ---------- */

.cart-text{
  margin-top: 2px;
  
}





/* ---------- 414px ---------- */

@media (min-width: 361px) and (max-width: 414px) {
  .testo .cart-text {
     margin-top: 20px;
     
    
  }
}

/* ---------- DESKTOP (1024px) ---------- */

@media (min-width: 1024px) {
  .testo .cart-text {
    margin-top: -4px;
  }
}

/* ---------- LARGE DESKTOP (1440px) ---------- */

@media (min-width: 1440px) {
  .testo .cart-text {
    margin-top: 10px;
  }
}

/* ---------- ULTRA WIDE (1920px) ---------- */

@media (min-width: 1920px) {
  .testo .cart-text {
    margin-top: 14px;
  }
}
