@media screen and (min-width: 1024px) {
    .testo .cart-text {
        margin-top: -5px;
    }
}

@media screen and (min-width: 1200px) {
    .testo .cart-text {
        margin-top: -3px;
    }
}

@media screen and (min-width: 1200px) {
    .testo .cart-text {
        margin-top: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .testo .cart-text {
        margin-top: 12px;
    }
}

@media screen and (min-width: 1920px) {
    .testo .cart-text {
        margin-top: 14px;
    }
}

@media screen and (min-width: 2000px) {
    .testo .cart-text {
        margin-top: -5px;
    }
}