h1 {
    font-weight: 700;
    color: #AC88A3;
    font-size: 60px;
}

h2 {
    font-size: 60px;
    font-weight: 700;
    color: #AC88A3;
}

.locales {
    margin-top: 80px;
    margin-bottom: 80px;
}

.locales img {
    width: 80%;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

.text-container {
    width: 45%;
    margin-left: -50px;
}

.text-container h2 {
    color: #946C81;
    font-weight: bold;
}

.text-container p {
    font-size: 16px;
    color: #333;
}

.form-container {
    width: 50%;
    border: 2px solid #E385A0;
    padding: 20px;
    border-radius: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    
}

.contact-form label {
    font-size: 14px;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    font-size: 14px;
}

.contact-form textarea {
    resize: none;
    height: 20px;
    margin-bottom: 20px;
}

.btn-enviar { 
    cursor: pointer;
    margin-top: 15px;
    width: 100px;
    align-self: center;
}

.btn-enviar:hover {
    background-color: #7a5869;
}

.form-section button {
    width: 100px;
    margin: auto;
}