@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* ---------- BASE (360px) ---------- */

footer {
  border-top: 4px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

footer p {
  font-family: Jost;
  font-weight: 500;
  font-size: 14px;
}

.logo-footer img {
  width: 70px;
  margin: 0;
}

.redes-footer {
  display: flex;
  justify-content: center;
}

.redes-footer img {
  width: 22px;
  margin: 4px;
}


/* ---------- 414px ---------- */

@media (min-width: 361px) and (max-width: 414px) {
  footer p {
    font-size: 15px;
  }

  .logo-footer img {
    width: 75px;
  }
}


/* ---------- DESKTOP (1024px) ---------- */

@media (min-width: 1024px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  footer p {
    font-size: 16px;
  }

  .logo-footer img {
    width: 80px;
  }

  .redes-footer img {
    width: 24px;
  }
}


/* ---------- LARGE DESKTOP (1440px) ---------- */

@media (min-width: 1440px) {
  footer {
    padding: 30px 40px;
  }

  footer p {
    font-size: 17px;
  }

  .logo-footer img {
    width: 90px;
  }

  .redes-footer img {
    width: 26px;
  }
}


/* ---------- ULTRA WIDE (1920px) ---------- */

@media (min-width: 1920px) {
  footer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px 0;
  }

  footer p {
    font-size: 18px;
  }

  .logo-footer img {
    width: 100px;
  }

  .redes-footer img {
    width: 28px;
  }
}
