@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

.innovacion {
    width: 100vw;
    overflow: hidden;
}

.innovacion img {
    width: 100%;
    object-fit: cover;
}

.innovacion h1 {
    font-family: Poppins;
    font-weight: bold;
}

.innovacion h2 {
    font-family: Jost;
    font-weight: 400;
    font-size: 15px;
}

.bebidas img {
    margin-top: 10px;
    width: 85%;
    height: auto;
}

.btn-container {
    position: absolute;
    top: 70%;
    left: 10.6%;
}

.ver-mas-sabores {
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner-te {
    width: 100%;
    object-fit: cover;
    margin-bottom: 120px;
}

.fotitos img {
    width: 70%;
    height: auto;
}

.fotitos p {
    font-family: jost;
}

.redes {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}

.redes img {
    width: 25px;
    margin: 5px;
}

.sucursales img {
    width: 100%;
    object-fit: cover;
}

.sucursales button {
    background-color: #F8EEE3;
    color: #0E463D;
    font-family: Jost;
    font-weight: 500;
}

.sucursales button:hover {
    background-color: rgb(225, 209, 191);
}

.ver-sucursales {
    position: absolute;
    top: 423%;
    left: 6.5%;
}

.forma-parte img {
    margin-top: -3.7px;
    margin-bottom: -19px;
}

.dejar-cv {
    position: absolute;
    top: 490%;
    left: 44%;
}


@media screen and (min-width: 1200px) and (max-width: 1359px) {
    .ver-sucursales {
        top: 425%;
    }

    .dejar-cv {
        top: 495%;
    }

    .btn-container {
        top: 75%;
    }
}

@media screen and (min-width: 1360px) and (max-width: 1439px) {
    .ver-sucursales {
        top: 505%;
    }

    .dejar-cv {
        top: 580%;
    }

    .btn-container {
        top: 90%;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
    .ver-sucursales {
        top: 425%;
    }

    .dejar-cv {
        top: 495%;
    }

    .btn-container {
        top: 75%;
    }
}

@media screen and (min-width: 1920px) {
    .ver-sucursales {
        top: 435%;
    }

    .dejar-cv {
        top: 510%;
    }

    .btn-container {
        top: 80%;
    }
}