@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto 50px;
  padding-inline: 5%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.products button {
  color: #E385A0;
  text-decoration: underline;
  background-color: white;
}

.products button:hover {
  color: #d56f8c;
}

.item {
  cursor: pointer;
  text-align: center;
  width: 100%;
  max-width: 260px;
  margin-top: 40px;
}

.item img {
  width: 110px;
  transition: transform 0.3s ease;
}

.item img:hover {
  transform: scale(1.1);
}

h1,
h2 {
  font-size: 1.6rem;
  color: #A16F95;
  text-align: center;
  margin: 40px 0;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal {
  background: white;
  width: 100%;
  max-width: 320px;
  padding: 30px 25px;
  text-align: center;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.modal img {
  margin: 30px auto -10px;
  max-width: 35%;
}

.modal p {
  margin: 10px 0 30px;
}

@media (min-width: 361px) and (max-width: 414px) {
  .item {
    max-width: 280px;
  }

  h1,
  h2 {
    font-size: 1.7rem;
  }
}

@media (min-width: 415px) and (max-width: 1023px) {
  .products {
    gap: 40px;
  }

  .item {
    max-width: 300px;
    margin-top: 50px;
  }

  .modal {
    max-width: 420px;
    padding: 40px 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .menu-container {
    padding-inline: 0;
  }

  .products {
    justify-content: flex-start;
    gap: 50px;
  }

  .item {
    max-width: 300px;
    margin-top: 60px;
  }

  .modal {
    max-width: 520px;
    padding: 40px 60px;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .products {
    gap: 70px;
  }

  .item {
    max-width: 320px;
  }

  .modal {
    max-width: 600px;
    padding: 50px 80px;
  }
}

@media (min-width: 1920px) {
  .products {
    max-width: 1400px;
    margin: 0 auto;
    gap: 80px;
  }

  .item {
    max-width: 350px;
  }

  .modal {
    max-width: 650px;
    padding: 60px 100px;
  }
}



