@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: Poppins;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 5%;
  position: relative;
}

header img {
  height: 60px;
}

.navbar {
  display: none; 
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.navbar.open {
  display: flex;
}


/* HAMBURGER */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger .material-icons {
  font-size: 32px;
  color: #000;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar.open ul li a {
  color: #000;
}
.navbar a {
  text-decoration: none;
  color: #000;
  font-size: 0.95rem;
}

.navbar a:hover {
  color: none;
  text-decoration: underline;
}

@media (min-width: 361px) and (max-width: 899px) {
  header img {
    height: 65px;
  }

    .navbar.open {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 1rem 5%;
    z-index: 1000;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    flex-direction: column;
    
  }

  .navbar.open ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    text-align: center;
  }

  
  .hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }

  .navbar.open ul li {
    width: 100%;
    

  }

  .navbar.open ul li a {
    display: block;
    font-size: 1 rem;
    color: #000000;
    


  }


  .navbar.open::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 100%;
    opacity: 0.06;
    pointer-events: none;
    
  }
  
}

@media (min-width: 900px) and (max-width: 1023px) {
  header {
    padding: 1rem 6%;
  }

  header img {
    height: 70px;
  }

  .navbar {
    display: flex;
  }

  .navbar a {
    font-size: 0.95rem;
  }

   .hamburger {
    display: none;
  }

    .navbar.open {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 1rem 5%;
    z-index: 1000;
  }

  .navbar.open ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

}


@media (min-width: 1024px) {
  header {
    padding: 1.25rem 4rem;
  }

  header img {
    height: 80px;
  }

  .navbar {
    display: flex;
  }

  .navbar ul {
    gap: 1.5rem;
  }

  .navbar a {
    font-size: 1rem;
  }
  
  .hamburger {
    display: none;
  }
  
}






