@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.primera-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.imagenes img {
  width: 90%;
  margin: 0 auto 4rem;
  display: block;
}

.uno {
  margin-top: 4rem;
}

@media (min-width: 361px) and (max-width: 414px) {
  .imagenes img {
    width: 85%;
    margin-bottom: 5rem;
  }

  .uno {
    margin-top: 5rem;
  }
}

@media (min-width: 415px) and (max-width: 1023px) {
  .imagenes img {
    width: 80%;
    margin-bottom: 6rem;
  }

  .uno {
    margin-top: 6rem;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .imagenes img {
    width: 75%;
    margin-bottom: 7rem;
  }

  .uno {
    margin-top: 7rem;
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .imagenes img {
    width: 70%;
    margin-bottom: 8rem;
  }

  .uno {
    margin-top: 8rem;
  }
}

@media (min-width: 1920px) {
  .imagenes img {
    width: 65%;
    margin-bottom: 10rem;
  }

  .uno {
    margin-top: 10rem;
  }
}




